body {
  background-color: #0f0e17;
  color: #fffffe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 1000px;
  margin: auto;
  line-height: 25px;
}

span {
  color: #ff8906;
}
